:root{
    --border: 1px solid black;
    --clr-lightTheme: rgb(182, 234, 244);
    --clr-darkTheme: rgb(35, 21, 85);
}

*{
    font-family: "EB Garamond", serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* <-----Template-----> */

.divTemplate{
    margin: 2rem;
}

.flexDiv{
    display: flex;
    flex-wrap: wrap;
}


.animatedObj{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.hoverBox{
    transition: 0.3s;
}

.hoverBox:hover{
    box-shadow: 0 0 20px 0 rgb(144, 144, 144);
    transform: translate(-3px, -5px);
}

/* <-----> */


#banner{
    background-image: linear-gradient(rgba(106, 216, 224, 0.176), rgba(114, 114, 114, 0.185)), 
                                        url(pic/hotel1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 5px black;
    text-align: center;

}

#bannerContent{
    background-color: rgba(84, 84, 84, 0.45);
    z-index: 100;
}

#bannerContent h1{
    display: block;
    font-size: 3rem;
    padding: 1rem 10vw 0 10vw;
    font-family: "Verdana";
}

#bannerContent p{
    display: block;
    font-size: 1.3rem;
    padding: 2rem 15vw 1rem 15vw;
}

#summarySection{
    height: 100vh;
    border-top: var(--border);
    border-bottom: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#summarySection h1{
    border-bottom: var(--border);
    margin-bottom: 1rem;
    font-size: 3rem;
    text-align: center;
}

#summaryBox{
    display: inline-block;
    border: var(--border);
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 2rem;
}

#summaryBox ul li{
    list-style: none; 
    font-size: 2rem;
}

#summaryBox ul li:hover{
    list-style: none; 
    font-size: 2rem;
    background-color: rgb(221, 221, 221); 
}


#summaryBox ul li a{
    text-decoration: none;
    color: black;
    display: block; 
}


/* <-----APPENDIX SECTION-----> */

#appendixSection{
    background-color: rgb(255, 255, 255);
    position: sticky;
    float: left;
    width: 200px;
    max-width: 20vw;
    height: 100vh;
    top: 0;
    list-style: none;   
    border-right: var(--border);
}

#appendixSection li{
    display: block;
    font-size: 1.1rem;
    border-bottom: var(--border);
    cursor: pointer;
    height: auto;
}

#appendixSection li:hover{
    background-color: rgb(224, 224, 224);
}

#current{
    background-color: rgb(194, 194, 194);
}

#appendixSection .navLink{
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
}



/* <-----CONTENT SECTION-----> */

.contentSection{
    background-color: rgb(255, 255, 255);
    flex: 1;
    padding: 100px 0 100px calc(min(20vw, 200px));
    text-align: justify;
    font-size: 1.4rem;
    min-height: 100vh;
    margin-bottom: 20vh;
}

.contentSection h1{
    text-align: center;
    border-bottom: var(--border);
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-size: 2rem;
}

.contentSection h2{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
    padding-bottom: 0.5rem;
    text-align: left;
}

.contentSection h3{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 0.5rem;
    text-align: left;
}

.contentSection > p{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.contentSection > ul{
    padding-left: 7rem;
    padding-right: 5rem;
}

.contentSection > ul > li{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* <-----Video Iframe-----> */

.videoIframeDiv{
    width: 100%;
    display: flex;
    justify-content: center;
}


.videoIframe{
    width: clamp(40vw, 50rem, 60vw);
    height: calc(0.5625 * clamp(40vw, 50rem, 60vw));
    margin: auto;
}

/* <---Content Box---> */

.contentBox1{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    transition: 0.3s;
    flex-direction: column;
    border-radius: 1rem;
    border: 5px solid var(--clr-darkTheme);
}

.contentBox1 img{
    /* position: absolute; */
    top: 0;
    left: 0;
    height: 10rem;
    max-height: 20%;
    object-fit: cover;
    object-position: center;
}

.contentBox1 {
    padding: 20px;
    font-size: 3rem;
    font-weight: bold;
}

/* <---List Box---> */

.listBox{
    font-size: 2.8rem;
    margin-left: 7rem;
    margin-right: 5rem;
    
}

.listBox p {
  padding-left: 2rem;
  font-weight: bold;
}

.listBox::before {     
  content: '';
  position: absolute;
  left: 0;                             
  width: 1rem;
  max-width: 5%;
  height: 100%;
  background: rgb(255, 0, 0); 
  z-index: -1;       
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.listBox2{
    font-size: 1.8rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.listBox2 p {
  padding-left: 2rem;
  padding-top: 1rem;
  /* padding-bottom: 1rem; */
  font-weight: 300;
  position: relative;
}

.listBox2 p::before {     
  content: '';
  position: absolute;
  left: 0;                             
  width: 1rem;
  max-width: 5%;
  height: 100%;
  background: rgb(243, 215, 32); 
  z-index: -1;       
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

#referenceList li:hover{
    background-color: rgb(221, 221, 221);
}

#membersList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


#membersList li{
    display: inline-block;
    border: var(--border);
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    flex: 1;
    text-align: center;
    box-shadow: 3px 3px 5px black;
}

#membersList .memberLi:hover{
    background-color: rgb(221, 221, 221);
    scale: 1.05;
    transition: 0.2s;
}


#membersList #giaBao:hover{
    background-color: rgb(250, 250, 114);
    scale: 1.1;
    transition: 0.2s;
}

/* <---Explain Box---> */
.explainBox{
    border: var(--border);
    border-radius: 1rem;
    padding: 1rem;
    font-size: 2rem;
    font-style: italic;
}

/* <---Question box---> */

.questionBox{
    background-color: rgb(213, 241, 251);
    border-radius: 1rem;
    border: 3px dashed black;
    margin-left: 1rem;
    margin-right: 1rem;
}

.questionTitleDiv{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.questionTitleDiv p{
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
}

.fa-circle-question{
    scale: 1.5;
}

.questionBox input{
    display: none;
}

.questionBox label{
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    padding: 20px;
    border-radius: 1rem;
    border: var(--border);
    margin: 20px;
}

.ansIndex{
    background-color: white;
    width: 2rem;
    height: 2rem;
    text-align: center;
    border-radius: 2rem;
    border: var(--border);
    margin-right: 2rem;
    flex: 0 0 auto;
}

.questionBox input[value="right"]:checked + label{
    background-color: rgb(139, 240, 138);
}

.questionBox input[value="wrong"]:checked + label{
    background-color: rgb(240, 104, 104);
}

/* <---Images Div---> */

.imagesSlider{
    display: flex;
    overflow: scroll;
}

.imagesSlider img{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: cover;
    object-position: top left;

    margin-top: 2rem;
    margin-bottom: 2rem;
    height: clamp(30vh, 40rem, 45vw);
    font-size: 1.1rem;
    border: var(--border);
}

.singleImageDiv{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: clamp(40vw, 50rem, 70vw);
    font-size: 1.1rem;
    border: var(--border);
}

.singleImageDiv img{
    object-fit: cover;
    width: clamp(40vw, 50rem, 70vw);
    flex-grow: 1;
    border: var(--border);
}

.imagesDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imageTemplate{
    text-align: center;
    border: 2px solid black;
    display: inline-block;
    width: 35rem;
    min-width: 30vw;
    margin: auto;
    margin-top: 2rem;
}

.imageTemplate p{
    font-size: 1.5rem;
    padding: 5px;
}

.imageTemplate img{
    aspect-ratio: 3/2;
    object-fit: cover;
    width: 100%;
    flex-grow: 1;
    border-bottom: 2px solid black;
}


/* <---Chart Div---> */

.chartDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.chartDiv h2{
    text-align: center;
    font-size: 1.5rem;
}

.chartDiv img{
    width: 50rem;
    max-width: 100%;
}

.chartDiv button{
    width: 50rem;
    max-width: 100%;
    border: var(--border);
    font-size: 1rem;
}

.chartDialog{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    /* max-width: 800px; */
}

.chartDialog h2{
    font-size: 2.5rem;
}

.chartSource{
    font-size: 1.2rem;
    text-align: right;
    display: block;
    width: 50rem;
    max-width: 100%;
}

.chartDialog img{
    width: 100%;
    margin-bottom: 1rem;
}

.closeBtnDiv{
    position: relative;
    height: 40px;
}

.chartDialog button{
    width: auto;
    padding: 0 10px 0 10px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    position: absolute;
    right: 10px;
}

.chartDialog p{
    padding: 0 1rem 1rem 1rem;
}

.chartDialog .chartSource{
    font-size: 1.2rem;
    text-align: right;
    display: block;
    width: auto;
}

.chartDialog::backdrop{
    background-color: rgba(0, 0, 0, 0.357);
}

/* <---Idea Boxes---> */

.ideasDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.ideaBox{
    border: var(--border);
    border-radius: 1rem;
    padding: 1rem;
    margin: 0.5rem;
    width: 40%;
    flex-grow: 1;
    font-size: 1.8rem;
}


/* <-----FOOTER-----> */
footer{
    background-color: rgb(187, 187, 187);
    padding: 2rem 1rem 2rem calc(1rem + min(20vw, 200px));
    font-size: 1rem;
}



/* <-----ANIMATION-----> */

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.7;
        transform: translateX(-50px);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateX(0);
    }
}


@media (max-width: 900px){
    .mediaHidden{
        display: none;
    }
}


@media (max-width: 800px){
    html{
        font-size: 13px;
    }

    #bannerContent h1{
    padding: 1rem 5vw 0 5vw;
    }

    #bannerContent p{
        padding: 2rem 10vw 1rem 10vw;
    }

    #summarySection h1{
        border-bottom: var(--border);
        margin-bottom: 3rem;
        font-size: 2rem;
    }

    #summaryBox{
        display: inline-block;
        border: var(--border);
        border-radius: 1rem;
        padding: 1.5rem;
    }

    #summaryBox ul li{
        list-style: none; 
        font-size: 1.5rem;
    }

    #appendixSection {
        position: sticky;
        display: flex;
        float: none;
        width: 100%;
        max-width: 100%;
        height: 3rem;
        z-index: 100;
        border-bottom: var(--border);
    }

    #appendixSection ul {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
    }


    #appendixSection li{
        display: inline-block;
        /* flex: 1;   */
        font-size: clamp(0.7rem, 2vw, 1.1rem); 
        min-width: 0;           
        text-align: center;
        border-bottom: none;
        white-space: nowrap;   
        overflow: hidden;   
        text-overflow: ellipsis; 
        border-right: var(--border);
    }

    #current{
        flex-grow: 2;
    }

    .contentBox1 p{
        font-size: 2.5rem;
    }

    .imageTemplate{
        width: 80vw;
        margin: auto;
        margin-top: 30px;
    }

    .contentSection{
        padding: 100px 0 100px 0;
    }

    .contentSection h1{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #bannerContent p{
        font-size: 1rem;
    }

    .contentSection h2{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .contentSection h3{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .contentSection > p{
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .contentSection > ul{
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .contentSection > ul > li{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .videoIframe{
        width: clamp(40vw, 50rem, 70vw);
        height: calc(0.5625 * clamp(40vw, 50rem, 70vw));
        margin: auto;
    }

    .chartDialog h2{
        font-size: 2rem;
    }


    .chartDialog{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95vw;
    }

    footer{
        padding: 2rem 1rem 2rem 1rem;
    }

    .ideaBox{
        width: 100%;
    }

    .singleImageDiv img{
        width: clamp(40vw, 50rem, 90vw);
    }

    .singleImageDiv{
        width: clamp(40vw, 50rem, 90vw);
    }   

    .questionTitleDiv p{
        font-size: 1.8rem;
    }
    .questionBox label{
        font-size: 1.4rem;
    }

    .ansIndex{
        width: 1.9rem;
        height: 1.9rem;
        margin-right: 1.9em;
    }

    .listBox{
        font-size: 2.5rem;
        margin-left: 5rem;
    }

    .listBox p {
        padding-left: 1.8rem;
    }

    .listBox::before {                                
        width: 0.8rem;
    }

    .listBox2{
        font-size: 1.5rem;
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .listBox2 p::before {                                
        width: 0.8rem;
    }
}


@media (max-width: 450px){
    #bannerContent h1{
        font-size: 2rem;
    }

    #bannerContent p{
        font-size: 1rem;
    }

    .contentSection h2{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .contentSection h3{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .contentSection > p{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .contentSection > ul{
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .contentSection > ul > li{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .videoIframe{
        width: clamp(40vw, 50rem, 80vw);
        height: calc(0.5625 * clamp(40vw, 50rem, 80vw));
        margin: auto;
    }

    .chartDialog h2{
        font-size: 1.5rem;
    }

    .questionTitleDiv p{
        font-size: 1.5rem;
    }

    .ansIndex{
        width: 1.8rem;
        height: 1.8rem;
        margin-right: 1.8rem;
    }    
    .contentBox1 p{
        font-size: 2rem;
    }

    .listBox{
        font-size: 1.8rem;
        margin-left: 2rem;
    }

    .listBox p {
        padding-left: 1.5rem;
    }

    .listBox::before {                                
        width: 0.5rem;
    }

    .listBox::before {                                
        width: 0.8rem;
    }

    .listBox2{
        font-size: 1.4rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    .listBox2 p{
        padding-left: 1rem;
    }

    .listBox2 p::before {                                
        width: 0.5rem;
    }


    #summarySection h1{
        border-bottom: var(--border);
        margin-bottom: 3rem;
        font-size: 2.5rem;

    }

    #summaryBox{
        display: inline-block;
        border: var(--border);
        border-radius: 1rem;
        padding: 1.5rem;
    }

    #summaryBox ul li{
        list-style: none; 
        font-size: 1.5rem;
    }
}
