:root{
    --border: 1px solid black;
}

*{
    font-family: "Alan Sans", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#banner{
    background-image: linear-gradient(rgba(117, 117, 64, 0.322), rgba(238, 238, 74, 0.092)), 
                                        url(pic/temp6.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 5px black;
}

#banner h1{
    display: block;
    font-size: 3rem;
    padding: 0px 20vw 0 20vw;
}

#banner p{
    display: block;
    padding: 30px 10vw 0 10vw;
}

/* <-----APPENDIX SECTION */

#appendixSection{
    background-color: lightgray;
    position: sticky;
    float: left;
    width: 200px;
    max-width: 20vw;
    height: 100vh;
    top: 0;
}

#appendixSection li{
    display: block;
    padding: 10px;
    font-size: 1.1rem;
    border-bottom: var(--border);
}

#appendixSection li:hover{
    background-color: yellow;
}

/* <-----CONTENT SECTION-----> */

.contentSection{
    background-color: rgb(255, 255, 255);
    flex: 1;
    padding: 100px 2rem 100px calc(min(20vw, 200px) + 2rem);
    text-align: justify;
}

.contentSection h1{
    text-align: center;
    border-bottom: var(--border);
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-size: 2rem;
}

.divTemplate{
    margin-top: 30px;
}

/* <---Content Box---> */

.contentBox1{
    background-color: rgb(237, 237, 237);
    /* border-radius: 1rem; */
    /* border: var(--border); */
    height: 25rem;
    display: flex;
    overflow: hidden;
    transition: 0.3s;
    align-items: center;
}

.contentBox1 img{
    height: 90%;
    max-width: 40%;
    object-fit: cover;
    object-position: center;
    padding-left: 20px;
}

.contentBox1 p{
    padding: 20px;
    font-size: 1.3rem;
}

.contentBox1:hover{
    box-shadow: 0 0 20px 0 rgb(144, 144, 144);
    transform: translate(5px, -5px);
}

/* <---Question box---> */

.questionBox{
    background-color: rgb(213, 241, 251);
    border-radius: 1rem;
    border: 3px dashed black;
}

.questionTitleDiv{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.questionTitleDiv p{
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
}

.fa-circle-question{
    scale: 1.5;
}

.questionBox input{
    display: none;
}

.questionBox label{
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    padding: 20px;
    border-radius: 1rem;
    border: var(--border);
    margin: 20px;
}

.questionBox input[value="right"]:checked + label{
    background-color: rgb(139, 240, 138);
}

.questionBox input[value="wrong"]:checked + label{
    background-color: rgb(240, 104, 104);
}

/* <---Images Div */

.imagesDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imageTemplate{
    text-align: center;
    border: 2px solid black;
    display: inline-block;
    width: 40rem;
    min-width: 30vw;
    margin: 30px;
}

.imageTemplate p{
    font-size: 1.5rem;
    padding: 5px;
}

.imageTemplate img{
    aspect-ratio: 3/2;
    object-fit: cover;
    width: 100%;
    flex-grow: 1;
    border-bottom: 2px solid black;
}


/* <---Chart Div---> */

.chartDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chartDiv img{
    width: 50rem;
    max-width: 100%;
}

.chartDiv button{
    width: 50rem;
    max-width: 100%;
    border: var(--border);
    font-size: 1rem;
}

.chartDialog{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    max-width: 800px;
}

.chartDialog img{
    width: 100%;
    margin-bottom: 1rem;
}

.closeBtnDiv{
    position: relative;
    height: 40px;
}

.chartDialog button{
    width: auto;
    padding: 0 10px 0 10px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    position: absolute;
    right: 10px;
}

.chartDialog p{
    padding: 0 1rem 1rem 1rem;
}

.chartDialog::backdrop{
    background-color: rgba(0, 0, 0, 0.357);
}

/* <---Idea Boxes---> */

.ideasDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.ideaBox{
    border: var(--border);
    border-radius: 1rem;
    padding: 1rem;
    margin: 0.5rem;
    width: 40%;
    transition: 0.3s;
}

.ideaBox:hover{
    box-shadow: 0 0 20px 0 rgb(144, 144, 144);
    transform: translate(-3px, -5px);
}


/* <-----FOOTER-----> */
footer{
    background-color: rgb(187, 187, 187);
    padding: 2rem 1rem 2rem 1rem;
    font-size: 1rem;
}


/* <-----ANIMATION-----> */


.animatedObj{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}



@keyframes appear{
    from{
        opacity: 0;
        scale: 0.7;
        transform: translateX(-50px);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateX(0);
    }
}


@media (max-width: 800px){
    html{
        font-size: 13px;
    }
    .contentBox1{
        height: 15rem;
    }

    .imageTemplate{
        width: 80vw;
    }

    #appendixSection{
        display: none;
    }

    .contentSection{
        padding: 100px 50px 100px 50px;
    }

    .ideaBox{
        width: 100%;
    }

}
