
.alan-sans-fnt {
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    overflow-x: hidden;
}

.bannerDiv{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(79, 79, 79, 0.364),
                        rgba(0, 0, 0, 0.757)), 
                        url(pic/temp3.jpg);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
}

#logoLink img{
    height: clamp(7vw, 7vw, 100px);
    border-radius: 100px;
    top: 0;
    left: 0;
}

.infoNav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-around;
    align-items: center;
}

.appendix{
    flex: 1;
    text-align: right;
}

.appendix ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px
}

.appendix ul li a{
    color: white;
    text-decoration: none;
    font-size: clamp(1vw, 2vw, 18px);

}

.appendix ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(255, 0, 0);
    display: block;
    margin: auto;
    transition: 0.8s;
}


.appendix ul li:hover::after{
    width: 100%;
}


.mainTitle{
    width: 90%;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.mainTitle h1{
    font-size: 60px;
    
}

.mainTitle p{
    font-size: 15px;
    font-family: "Alan Sans";
}

#scrollBtn{
    display: inline-block;
    top: 60px;
    text-decoration: none;
    color: white;
    padding: 12px 34px;
    font-size: 18px;
    border: 1px solid white;
    background: transparent;
    position: relative;
    cursor: pointer;
}

#scrollBtn:hover{
    background: #a8a8a83f;
    transition: 0.3s;
    box-shadow: 0 0 10px 0 rgb(144, 144, 144);
}

html {
  scroll-behavior: smooth;
}

.bannerDiv .fa-solid{
    display: none;
}


.bannerDiv fa-bars{
    right: 10;
}




.contentContainer{
    width: 100%;
    height: 3em;
    background-color: rgb(58, 56, 14);
    display: flex;
    position: relative;
    font-family: "Alan Sans";
    flex-wrap: wrap;
    flex: 1 0 auto;
    /* overflow: hidden; */
    /* justify-content: space-evenly; */
}

.contentContainer label{
    flex: 1 0 auto;
    min-width: 0;
    justify-content: center;
    align-items: center;
}


.contentContainer input{
    display: none;
}

.tabName {
    color: white;
    display: flex;           
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: clamp(1vw, 2vw, 18px);
    cursor: pointer;
    transition: 0.25s;
    white-space: nowrap;
}




input:checked + label .tabName{
    background: rgb(193, 191, 131);
    color: rgb(59, 41, 5);
    font-weight: 800;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}

.tabContent{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 50px;
    left: 0px;
    opacity: 0;
    z-index: 0;
}


input:checked + label .tabContent{
    opacity: 1;
    z-index: 1;
}

/* ----Content---- */

.content{
    width: 80%;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: "Alan Sans";
}

.content h1{
    font-size: 36px;
    text-align: center;
    font-family: "Alan Sans";
}

.content img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 20px;
}


.container{
    margin: 5%;
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

.contentBox{
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(230, 230, 230);
    transition: 0.3s;
}

.contentBox h3{
    text-align: center;
}

.contentBox:hover{
    box-shadow: 0 0 20px 0 rgb(144, 144, 144);
}


.tb{
    justify-self: center;
}

.refLst{
    padding-left: 5%;
}

@media(max-width: 700px){

    body {
        overflow-x: hidden; 
    }

    .mainTitle h1{
        font-size: 40px;
    }
    .mainTitle p{
        font-size: 11px;
    }
    /* .appendix{
        position: fixed;
        background: red;
        height: 100%;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.3s;
    }     */

    /* .appendix ul{
        padding: 30px;
    } */

    /* .bannerDiv .fa-solid{
        display: block;
        color: white;
    } */


}




footer{
    background-color: gray;
}
